[submodule ".dotbot"]
	ignore = dirty
	path = .dotbot
	url = https://github.com/anishathalye/dotbot
[submodule ".antigen"]
	path = .antigen
	url = https://github.com/zsh-users/antigen.git
[submodule ".base16-shell"]
	path = .base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "private/espanso"]
	path = private/espanso
	url = git@github.com:kogakure/espanso-snippets.git
[submodule "private/bin"]
	path = private/bin
	url = git@github.com:kogakure/scripts.git
